[submodule "blocks/completion_progress"]
	path = blocks/completion_progress
	url = https://github.com/jonof/moodle-block_completion_progress
[submodule "blocks/dedication"]
	path = blocks/dedication
	url = https://github.com/catalyst/moodle-block_dedication
[submodule "blocks/filtered_course_list"]
	path = blocks/filtered_course_list
	url = https://github.com/CLAMP-IT/moodle-blocks_filtered_course_list
[submodule "blocks/xp"]
	path = blocks/xp
	url = https://github.com/FMCorz/moodle-block_xp
[submodule "mod/board"]
	path = mod/board
	url = https://github.com/brickfield/moodle-mod_board
[submodule "mod/geogebra"]
	path = mod/geogebra
	url = https://github.com/projectestac/moodle-mod_geogebra
[submodule "mod/hotpot"]
	path = mod/hotpot
	url = https://github.com/gbateson/moodle-mod_hotpot
[submodule "mod/hvp"]
	path = mod/hvp
	url = https://github.com/h5p/moodle-mod_hvp
[submodule "mod/jclic"]
	path = mod/jclic
	url = https://github.com/projectestac/moodle-mod_jclic
[submodule "mod/journal"]
	path = mod/journal
	url = https://github.com/elearningsoftware/moodle-mod_journal
[submodule "mod/oublog"]
	path = mod/oublog
	url = https://github.com/moodleou/moodle-mod_oublog
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire
[submodule "mod/scheduler"]
	path = mod/scheduler
	url = https://github.com/bostelm/moodle-mod_scheduler
[submodule "mod/videotime"]
	path = mod/videotime
	url = https://github.com/bdecentgmbh/moodle-mod_videotime/
[submodule "filter/wiris"]
	path = filter/wiris
	url = https://github.com/wiris/moodle-filter_wiris
[submodule "lib/editor/atto/plugins/wiris"]
	path = lib/editor/atto/plugins/wiris
	url = https://github.com/wiris/moodle-atto_wiris
[submodule "lib/editor/tinymce/plugins/tiny_mce_wiris"]
	path = lib/editor/tinymce/plugins/tiny_mce_wiris
	url = https://github.com/wiris/moodle-tinymce_tiny_mce_wiris.git
[submodule "lib/editor/atto/plugins/cloze"]
	path = lib/editor/atto/plugins/cloze
	url = https://github.com/dthies/moodle-atto_cloze
[submodule "lib/editor/atto/plugins/fontsize"]
	path = lib/editor/atto/plugins/fontsize
	url = https://github.com/andrewnicols/moodle-atto_fontsize
[submodule "lib/editor/atto/plugins/fullscreen"]
	path = lib/editor/atto/plugins/fullscreen
	url = https://github.com/dthies/moodle-atto_fullscreen
[submodule "lib/editor/atto/plugins/htmlplus"]
	path = lib/editor/atto/plugins/htmlplus
	url = https://github.com/andrewnicols/moodle-atto_htmlplus
[submodule "lib/editor/atto/plugins/snippet"]
	path = lib/editor/atto/plugins/snippet
	url = https://github.com/justinhunt/moodle-atto_snippet
[submodule "local/redislock"]
	path = local/redislock
	url = https://github.com/open-lms-open-source/moodle-local_redislock
[submodule "question/type/coderunner"]
	path = question/type/coderunner
	url = https://github.com/trampgeek/moodle-qtype_coderunner.git
[submodule "question/behaviour/adaptive_adapted_for_coderunner"]
	path = question/behaviour/adaptive_adapted_for_coderunner
	url = https://github.com/trampgeek/moodle-qbehaviour_adaptive_adapted_for_coderunner.git
[submodule "question/type/essaywiris"]
	path = question/type/essaywiris
	url = https://github.com/wiris/moodle-qtype_essaywiris
[submodule "question/type/matchwiris"]
	path = question/type/matchwiris
	url = https://github.com/wiris/moodle-qtype_matchwiris
[submodule "question/type/multianswerwiris"]
	path = question/type/multianswerwiris
	url = https://github.com/wiris/moodle-qtype_multianswerwiris
[submodule "question/type/multichoicewiris"]
	path = question/type/multichoicewiris
	url = https://github.com/wiris/moodle-qtype_multichoicewiris
[submodule "question/type/shortanswerwiris"]
	path = question/type/shortanswerwiris
	url = https://github.com/wiris/moodle-qtype_shortanswerwiris
[submodule "question/type/truefalsewiris"]
	path = question/type/truefalsewiris
	url = https://github.com/wiris/moodle-qtype_truefalsewiris
[submodule "question/type/wq"]
	path = question/type/wq
	url = https://github.com/wiris/moodle-qtype_wq
[submodule "admin/tool/siteperf"]
	path = admin/tool/siteperf
	url = https://github.com/IOC/moodle-admin_siteperf
[submodule "local/mail"]
	path = local/mail
	url = https://gitlab.com/moodle-local_mail/moodle-local_mail
	branch = v1
[submodule "course/format/grid"]
	path = course/format/grid
    url = https://github.com/gjbarnard/moodle-format_grid
    branch = MOODLE_401
[submodule "plagiarism/urkund"]
	path = plagiarism/urkund
	url = https://github.com/danmarsden/moodle-plagiarism_urkund
	branch = MOODLE_400_STABLE
