
@font-face {
    font-family: 'Pinto01';
    src:
        url('[[font:theme|388D27_1_0.eot]]') format('embedded-opentype'),
        url('[[font:theme|388D27_1_0.woff2]]') format('woff2'),
        url('[[font:theme|388D27_1_0.woff]]') format('woff'),
        url('[[font:theme|388D27_1_0.ttf]]') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pinto02';
    src:
        url('[[font:theme|388D27_4_0.eot]]') format('embedded-opentype'),
        url('[[font:theme|388D27_4_0.woff2]]') format('woff2'),
        url('[[font:theme|388D27_4_0.woff]]') format('woff'),
        url('[[font:theme|388D27_4_0.ttf]]') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/***** Roboto *****/

@font-face {
    font-family: 'Roboto';
    src:
        url('[[font:theme|Roboto-Regular.ttf]]') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('[[font:theme|Roboto-Italic.ttf]]') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('[[font:theme|Roboto-Medium.ttf]]') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('[[font:theme|Roboto-MediumItalic.ttf]]') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('[[font:theme|Roboto-Bold.ttf]]') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('[[font:theme|Roboto-BoldItalic.ttf]]') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/***** Arvo *****/

@font-face {
    font-family: 'Arvo';
    src:
        url('[[font:theme|Arvo-Regular.ttf]]') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src:
        url('[[font:theme|Arvo-Italic.ttf]]') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Arvo';
    src:
        url('[[font:theme|Arvo-Bold.ttf]]') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src:
        url('[[font:theme|Arvo-BoldItalic.ttf]]') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/***** Neuton *****/

@font-face {
    font-family: 'Neuton';
    src:
        url('[[font:theme|Neuton-Regular.ttf]]') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neuton';
    src:
        url('[[font:theme|Neuton-Italic.ttf]]') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Neuton';
    src:
        url('[[font:theme|Neuton-Bold.ttf]]') format('opentype');
    font-weight: 700;
    font-style: normal;
}
