<div {{!
    }} class="{{$drawerclasses}}{{/drawerclasses}} d-print-none not-initialized"{{!
    }} data-region="fixed-drawer"{{!
    }} id="{{$id}}{{/id}}"{{!
    }} data-preference="{{$drawerpreferencename}}{{/drawerpreferencename}}"{{!
    }} data-state="{{$drawerstate}}{{/drawerstate}}"{{!
    }} data-forceopen="{{$forceopen}}0{{/forceopen}}"{{!
    }} data-close-on-resize="{{$drawercloseonresize}}0{{/drawercloseonresize}}"{{!
    }}>
    <div class="drawerheader">
        <button
            class="btn drawertoggle icon-no-margin hidden custom-close-icon"
            data-toggler="drawers"
            data-action="closedrawer"
            data-target="{{$id}}{{/id}}"
            data-toggle="tooltip"
            data-placement="{{$tooltipplacement}}right{{/tooltipplacement}}"
            title="{{$closebuttontext}}{{#str}}closedrawer, core{{/str}}{{/closebuttontext}}"
        >
            {{#pix}} drawer-close-black, theme_boostioc {{/pix}}
        </button>
    </div>
    <div class="drawercontent drag-container" data-usertour="scroller">
        {{$drawercontent}}{{/drawercontent}}
    </div>
</div>
{{#js}}
require(['theme_boost/drawers']);
{{/js}}
