{{!
    @template theme_boost/nav-drawer


    Example context (json): {}
}}
<div id="nav-credrawer" data-region="credrawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    <div class="credrawer-top-background"></div>
    <div class="button-close">{{#pix}}images/close-drawer, theme{{/pix}}</div>
    {{> theme_cre/flat-crenavigation }}
</div>